.filter-sidebar {
	overflow: hidden;
	padding: 10px;
}
.filter-current-values {
	display: flex;
	justify-content: center;
	color: $dark-grey;
}
.filter-limit-values {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.filter-sidebar {
	&__heading {
		color: $black;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	&__cta {
		text-align: center;
		width: 100px;
		background: #0000cd;
		padding: 10px;
		border-radius: 20px;
		color: #fff;
		font-size: 16px;
		margin: 0 auto;
		display: block;
		cursor: pointer;
	}
}
